html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: #73d8a6;
  background-image: linear-gradient(45deg, #73d8a6 0%, #ede978 100%);
  font-family: 'Reem Kufi', sans-serif;
}

#containerDivEnd {
  width: 100%;
  height: 60%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchMsg {
  font-size: 100px !important;
  padding-right: 0.4em;
  margin-left: 0.9em;
  color: rgb(55, 61, 60);
}
#winningTitle {
  font-size: 50px !important;
}
.cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.winningCard {
  margin: 1em;
  margin-right: 6em;
}
#matchPageEnd {
  width: 100%;
  height: 100%;
}

/* Pulse */
@-webkit-keyframes hvr-pulse-win {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-win {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-win {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-animation-name: hvr-pulse-win;
  animation-name: hvr-pulse-win;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
