html, body{
    margin:0px;
    height:100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #73d8a6;
    background-image: linear-gradient(45deg, #73d8a6 0%, #ede978 100%);
    font-family: 'Reem Kufi', sans-serif !important;
}
.icon{
    transform:scale(0.09,0.09);
    filter:invert(100%);
}
.cardImg:hover{
    transform: scale(1.05,1.05);
}
.cardImg:hover ~ .cardImgDiv{
  transform: scale(1.05,1.05);
}
.cardImgDiv:hover ~ .cardImg{
  transform: scale(1.05,1.05);
}
.cardImgDiv{
    height: 17em !important;
    overflow: hidden !important;
    border-radius: 30px !important;
}
.cardImg{
  transition:0.4s;
  border-radius: 30px !important;
}
.cardBody{
  height:18em;
  border-radius: 30px !important;
}
.chooseBtn{
    width: 8em !important;
    height: 8em !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#rejectBtn{
    margin-right:10em;
    background-color: #D7263D;
    border: 0px;
    transition: 0.4s;
}
#acceptBtn{
    margin-left:10em;
    background-color:#7DCE82;
    border:0px;
    transition: 0.4s;
}
#acceptBtn:hover{
    background-color:#439449;
}
#rejectBtn:hover{
    background-color:#9b1729;
}
#matchTitle{
    width: 100%;
    height: 20%;
    z-index:1000;
    position: absolute;
    border-radius:30px !important;
    top: 0%;
    display:flex;
    justify-content: center;
}
.card-body{
  position: relative !important;
  border-radius: 30px !important;
}
.ratingContainer{
}
.reviews{
  position: relative;
  background: #e6e6e6f1;
  border-radius: 30px;
  height:5em;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 5px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.mySlides {
  display: none;
  padding:0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Add an italic font style to all quotes */
q {
  font-size: 13px;
  color: rgb(87, 97, 94)
}

/* Add a blue color to the author */
.author {color: rgb(67, 75, 73);}


/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 7px;
  background: #ddd;
  display: none;
}
.reviewHolder{
  height: 3.3em;
  overflow: hidden;
  width: 100%;
  padding:5px ;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(148, 170, 159);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color:rgba(161, 135, 78, 0.418);
  cursor: pointer;
}
.reviews:hover{
  background-color: #cbddc6f1;;

}
.card-title{
  color:  #3e4440 !important;
  float: left;
}
.card-link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top:45px;
}
.checked {
  color: rgb(240, 184, 0);
}
.card-opening{
  float: right;
  position: absolute;
  top:6%;
  left: 75%;
  font-size: 20px !important;
  color: #439449;
}
.phonediv{
  position: absolute;
  left:10%;
  top:81%;
  font-size: small !important;
  color:  #3e4440 !important;
  overflow: hidden;
}
.card-price{
  position: absolute;
  left:49%;
  top:6%;
  color:  #3e4440 !important;
  overflow: hidden;
}
.mapsdiv{
  padding-top: 1.4em;
  position: absolute;
  left:50%;
  width:50%;
  font-size: small !important;
  transition: all 0.2s ease-in-out !important;
  max-width:15em;
}
.mapslink{
  color: #717171 !important;
}
.mapslink:hover{
  color: #3e4440 !important;
}
#matchTitleText{
    font-size: 75px;
    text-shadow: 1px;
    margin: auto;
}
#matchPage{
    width: 100%;
    height: 100%;
}

#containerDiv{
    width: 100%;
    height: 85%;
    margin-top: 10%;
}
.restaurant{
max-width: 100% !important;
border-radius: 30px !important;
}

/*
yes no button movement
*/

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  .hvr-bob:hover{
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }