#buttonContainer {
  width: 49%;
  height: 45%;
  z-index: 1000;
  position: absolute;
  border-radius: 30px !important;
  background-color: #73d8a6;
  background-image: linear-gradient(45deg, #73d8a6 0%, #ede978 100%);
  top: 35%;
}
#landingPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.backgroundimg {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#titleDiv {
  width: 70%;
  height: 20%;
  z-index: 1000;
  position: absolute;
  border-radius: 30px !important;
  top: 10%;
  margin: auto;
}
#title {
  font-size: 100px;
  background: -webkit-linear-gradient(#73d8a6, #ede978);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.range-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
  }
  input[type=range]:focus {
  outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3eadb1;
  border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3eadb1;;
  }
.range {
  width: 60%;
  height: 1px;
  cursor: pointer;
}

#filters {
  padding-top: 5%;
}
.bubble {
  background: rgb(88, 148, 113);
  color: white;
  padding: 4px 12px;
  border-radius: 50px;
  width: 60px;
  text-align: center;
}

.range-heading {
  margin-left: 60px;
}
.landingBtn {
  width: 65%;
  height: 17%;
  margin: 5%;
  border-radius: 37px !important;
  font-weight: 500px !important;
  font-size: x-large !important;
  opacity: 1 !important;
  background-color: transparent !important;
  border: 2px solid white !important;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 100;
}

.dropdown-toggle {
  width: 75%;
}
#exampleModalCenter {
  z-index: 1000 !important;
}
.grow {
  transition: all 0.2s ease-in-out !important;
}

.grow:hover {
  transform: scale(1.2) !important;
}

.buttonText {
}
#back1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://blog.tubikstudio.com/wp-content/uploads/2019/12/mexican-food-illustration-tubikarts-2.png")
      no-repeat center fixed;
}

#back2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://blog.tubikstudio.com/wp-content/uploads/2019/12/Italian-food-illustration-tubikarts-2.png")
      no-repeat center fixed;
}

#back3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://blog.tubikstudio.com/wp-content/uploads/2019/12/asian-food-illustration-2.png")
      no-repeat center fixed;
}
#back4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.dribbble.com/users/1731254/screenshots/9736001/media/ca99195bf6d66da2c55831b86790e50d.png")
      no-repeat center fixed;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 0;
}
@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 16s;
  -webkit-animation-delay: 16s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 8s;
  -webkit-animation-delay: 8s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}

#backgroundchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;

  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;
}
